$primary-color: #ffcc00;
$hover-color: #ff9900;
$background-color: #343a40;
$font-color: #F5F5F5;
$bg-dark: #343a40;
$text-white: #fff;
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&family=Cactus+Classical+Serif&display=swap');

body {
  font-family: 'Alegreya SC', serif;
}

// Header styles
header {
  background-color: $bg-dark;
  color: $text-white;
  text-align: center;
  padding: 1rem 0;

  .navbar-brand img {
    height: 150px;
  }

  .navbar {
    background-color: $bg-dark;

    .navbar-toggler {
      border-color: $primary-color;
    }

    .navbar-nav {
      width: 100%;

      .nav-item .nav-link {
        color: $text-white;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

// Main content styles
.titulos {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

  label {
    margin-right: 1rem;
  }

  select {
    padding: 0.5rem;
  }
}

// Gallery styles
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .gallery-item {
    margin: 1rem;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }

    h2 {
      margin: 0.5rem 0;
    }

    .caption {
      font-size: 1.2rem;
    }
  }
}

.footerinfo {
  font-family: "Cactus Classical Serif", serif;
  font-weight: 300;
  color: $primary-color;
  font-size: 1.2rem;
  margin-bottom: 1rem;

  a {
    color: $primary-color;
    transition: color 0.3s, transform 0.3s;

    &:hover {
      color: $hover-color;
      transform: scale(1.1);
    }
  }
}

footer {
  background-color: $bg-dark;
  color: $text-white;
  padding-top: 2rem;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-group {
  label {
    font-size: 1rem;
  }
}

input {
  padding: 0.5rem;
  margin-top: 0.5rem;
}


.btn-primary {
  background-color: $primary-color;
  color: $background-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: $hover-color;
    transform: scale(1.05);
    border-color: darken($primary-color, 10%);
  }
}

.info-foot-start, .info-foot-center, .info-foot-end {
  display: grid;
  text-align: center;
}

.info-foot-start {
  justify-content: start;
}

.info-foot-center {
  justify-content: center;
}

.info-foot-end {
  justify-content: end;
}

.container-footer {
  background-color: #36454F;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}
